html {
  height: 100%;
  margin: 0;
  padding: 0; }

.centrar-vertical {
  display: table;
  height: 100%;
  width: 100%; }

.centrar-vertical > * {
  display: table-cell;
  vertical-align: middle;
  height: 100%; }

.cuerpo {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 50px; }

.header .logo-angular {
  height: 50px;
  float: left; }
.header .menu-principal li {
  cursor: pointer; }
