/*****************************************************************
 Globales
 *****************************************************************/
html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #252525; }

body {
  min-height: 100%;
  display: block;
  position: relative;
  overflow-x: hidden; }

.centrar-vertical {
  display: table;
  height: 100%;
  width: 100%; }

.centrar-vertical > * {
  display: table-cell;
  vertical-align: middle;
  height: 100%; }

.cuerpo-wrap {
  position: relative; }

.cuerpo {
  padding-top: 20px;
  padding-bottom: 270px;
  margin-top: 50px;
  overflow: hidden; }
  .cuerpo.no-padding {
    padding-bottom: 0px; }

.header .logo-angular {
  height: 50px;
  float: left; }
.header .menu-principal li {
  cursor: pointer; }
.header .titulo {
  font-size: 35px; }

.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 40px 0;
  color: white;
  text-align: center;
  background-color: #252525; }
  .footer .logo {
    height: 140px; }

.seccion {
  position: relative;
  overflow: hidden;
  min-height: 40px; }
  .seccion > h3 {
    margin: 0px 0px 0px 0px;
    padding: 5px 5px; }
  .seccion > div {
    padding: 10px 20px; }
  .seccion .descripcion {
    text-align: justify; }

.grupo-clickable .seccion > h3 {
  cursor: pointer; }
  .grupo-clickable .seccion > h3:hover {
    background-color: #f0f0f0; }

.cargando-wrap {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0; }
  .cargando-wrap .glyphicon {
    font-size: 120px; }

.glyphicon-expand {
  color: #e32939;
  vertical-align: top; }
  .glyphicon-expand.activo {
    color: red;
    padding-top: 2px; }

var {
  color: #e32939; }

.img-wrap {
  text-align: center; }
  .img-wrap img {
    max-width: 100%; }
  .img-wrap.autor {
    width: 120px; }

.full-height {
  height: 100%; }

code span, pre span {
  color: #682323; }

/*****************************************************************
 Animaciones
 *****************************************************************/
.animacion {
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  -moz-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  -o-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s; }

.animacion-corta {
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
  -moz-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
  -o-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s; }

.animacion-fade.ng-enter, .animacion-fade.ng-hide-remove {
  opacity: 0; }
.animacion-fade.ng-leave, .animacion-fade.ng-hide-add {
  opacity: 1; }
.animacion-fade.ng-enter.ng-enter-active, .animacion-fade.ng-hide-remove.ng-hide-remove-active {
  opacity: 1; }
.animacion-fade.ng-leave.ng-leave-active, .animacion-fade.ng-hide-add.ng-hide-add-active {
  opacity: 0; }

.animacion-fade-in {
  /*   &.ng-leave,&.ng-hide-add,&.ng-hide{
      display: none;
    }
    &.ng-leave.ng-leave-active,&.ng-hide-add.ng-hide-add-active{
      display: none;
      } */ }
  .animacion-fade-in.ng-enter, .animacion-fade-in.ng-hide-remove {
    opacity: 0; }
  .animacion-fade-in.ng-enter.ng-enter-active, .animacion-fade-in.ng-hide-remove.ng-hide-remove-active {
    opacity: 1; }

.animacion-fade-out.ng-enter, .animacion-fade-out.ng-hide-remove {
  display: none; }
.animacion-fade-out.ng-enter.ng-enter-active, .animacion-fade-out.ng-hide-remove.ng-hide-remove-active {
  display: none; }
.animacion-fade-out.ng-leave, .animacion-fade-out.ng-hide-add {
  opacity: 1; }
.animacion-fade-out.ng-leave.ng-leave-active, .animacion-fade-out.ng-hide-add.ng-hide-add-active {
  opacity: 0; }

.animacion-slide-izq.ng-enter, .animacion-slide-izq.ng-hide-remove {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0); }
.animacion-slide-izq.ng-leave, .animacion-slide-izq.ng-hide-add {
  opacity: 1;
  position: absolute; }
.animacion-slide-izq.ng-enter.ng-enter-active, .animacion-slide-izq.ng-hide-remove.ng-hide-remove-active {
  position: absolute;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0%, 0, 0); }
.animacion-slide-izq.ng-leave.ng-leave-active, .animacion-slide-izq.ng-hide-add.ng-hide-add-active {
  position: absolute;
  opacity: 0;
  position: absolute; }

.animacion-slide-arr.ng-leave, .animacion-slide-arr.ng-hide-add {
  /* -webkit-transform: translate3d(0,0%,0);
  transform: translate3d(0,0%,0);
  margin-bottom: 0%;
  */
  height: 300px; }
.animacion-slide-arr.ng-leave.ng-leave-active, .animacion-slide-arr.ng-hide-add.ng-hide-add-active {
  /* -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
  margin-bottom: -100%; */
  height: 0px; }

.animacion-rotar-infinito {
  transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation: Rotate 500ms infinite linear;
  -moz-animation: Rotate 500ms infinite linear;
  -ms-animation: Rotate 500ms infinite linear;
  -o-animation: Rotate 500ms infinite linear;
  animation: Rotate 500ms infinite linear; }

.animacion-rotar-45 {
  -o-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.animacion-cambiar-color {
  -webkit-animation: Color 1s infinite linear;
  -moz-animation: Color 1s infinite linear;
  -ms-animation: Color 1s infinite linear;
  -o-animation: Color 1s infinite linear;
  animation: Rotate 1s infinite linear; }

@-webkit-keyframes Color {
  0% {
    color: gray; }

  50% {
    color: #252525; }

  100% {
    color: gray; } }
@-keyframes Color {
  0% {
    color: grey; }

  50% {
    color: blue; }

  100% {
    color: black; } }
@-o-keyframes Rotate {
  from {
    -o-transform: rotate(0deg); }

  to {
    -o-transform: rotate(360deg); } }
@-moz-keyframes Rotate {
  from {
    -moz-transform: rotate(0deg); }

  to {
    -moz-transform: rotate(360deg); } }
@-ms-keyframes Rotate {
  from {
    -ms-transform: rotate(0deg); }

  to {
    -ms-transform: rotate(360deg); } }
@-webkit-keyframes Rotate {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(360deg); } }
@-keyframes Rotate {
  from {
    transform: rotate(0deg); }

  to {
    transform: rotate(360deg); } }
