<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="IntroAngularjs" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="IntroAngularjs" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="IntroAngularjs" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="IntroAngularjs" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Introducción Angularjs</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="styles/app.css"/>
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body ng-controller="Principal">

  <!--[if lt IE 7]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div class="header navbar navbar-default navbar-fixed-top banner affix-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <span class="titulo"><img class="logo-angular" src="images/angularjs.png" alt="Logo-angular"><span class="hidden-xs hidden-sm">Introducción a AngularJs</span></span>
      </div>      
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right menu-principal">
          <li ng-class="{'active': seccionActual=='Inicio'}">
            <a href="#home">Introducción</a>
          </li>
          <li ng-class="{'active': seccionActual=='Curso'}" ng-click="">
            <a href="#curso">Angularjs</a>
          </li>
          <li ng-class="{'active': seccionActual=='Acercade'}" ng-click="">
            <a href="#acercaDe">Acerca de</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container cuerpo-wrap">
    <div ng-view class="cuerpo animacion animacion-slide-izq" ng-class="{'no-padding': seccionActual=='AcercaDe'}"></div>  
  </div>
  
  <div class="footer animacion animacion-fade" ng-show="seccionActual!='AcercaDe'">
    <div class="container">
      <p>
        {{ 'Versión: v%VERSION%.' | interpolate }}
      </p>
      <img class="logo hidden-xs" src="images/logo.png" alt="Logo-angular">
    </div>
  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>-->

  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-touch/angular-touch.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="scripts/app.js"></script>
  <script src="scripts/services.js"></script>
  <script src="scripts/controladores/controllers.js"></script>
  <script src="scripts/controladores/principal.js"></script>
  <script src="scripts/filters.js"></script>
  <script src="scripts/directives.js"></script>
</body>
</html>
