<h1>Acerca de</h1>
<div class="seccion">
<h3>Autor</h3>
  <div>
    <h4>Axel Salmerón R.</h4>
    <h4>Twitter <a href="https://twitter.com/aXulsr">@aXulsr</a> </h4>
    <h4>GitHub <a href="https://github.com/axul"> Perfil</a></h4>
  </div>
</div>
<div class="seccion">
  <h3>AngularJs</h3>
  <div>
    <h4>Home <a href="https://angularjs.org/">AngularJS</a></h4>
    <h4>Guía para desarrolladores <a href="https://docs.angularjs.org/guide">Guía</a></h4>
  </div>
</div>
<div class="seccion">
  <h3>Curso</h3>
  <div>
    <h4>Vínculo de proyecto en GitHub <a href="https://github.com/axul/angularjs-introduccion/tree/master">Introducción AngularJs</a></h4>
    <h4>Bootstrap <a href="http://getbootstrap.com/">Home</a></h4>
    <h4>Sass <a href="http://sass-lang.com/">Home</a></h4>
  </div>
</div>