<h1>Acerca de</h1>
<div class="seccion">
  <h2>Autor</h2>
  <div>
    <h3>Axel Salmerón R.</h3>
    <h3><a href="https://twitter.com/aXulsr">@aXulsr</a> </h3>
  </div>
</div>
<div class="seccion">
  <h2>AngularJs Home</h2>
  <div>
    <h3><a href="https://angularjs.org/">AngularJS</a></h3>
  </div>
</div>
<div class="seccion">
  <h2>Link del proyecto en GitHub</h2>
  <div>
    <h3><a href="https://github.com/axul/angularjs-introduccion/tree/master">Introducción AngularJs</a></h3>
  </div>
</div>