<div class="container">
  <h2>Acerca de</h2>
  <div class="row">
    <div class="seccion col-md-3">
      <h3>Autor</h3>
      <div class="">
        <div class="">
          <h4><a href="https://plus.google.com/u/0/+axelsalmeron">Axel Salmerón R. </a></h4>
          <h4>Twitter <a href="https://twitter.com/aXulsr">@aXulsr</a> </h4>
          <h4>GitHub <a href="https://github.com/axul"> Perfil</a></h4>
          <h4>SirIdeas Web <a href="https://sirdieas.com">Home</a></h4>
        </div>
      </div>
    </div>
    <div class="seccion col-md-3">
      <h3>Herramientas</h3>  
      <div>
        <h4>Bootstrap <a href="http://getbootstrap.com/">Home</a></h4>
        <h4>Sass <a href="http://sass-lang.com/">Home</a></h4>
      </div>
    </div>
    <div class="seccion col-md-6">
      <h3>AngularJs</h3>
      <div>
        <h4>Home <a href="https://angularjs.org/">AngularJS</a></h4>
        <h4>API <a href="https://docs.angularjs.org/api">Api reference</a></h4>
        <h4>Guía para desarrolladores <a href="https://docs.angularjs.org/guide">Guía</a></h4>
        <h4>Curso de Codeschool.com <a href="http://campus.codeschool.com/courses/shaping-up-with-angular-js/intro">Shaping up with Angularjs</a></h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h3>Curso</h3>  
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 hidden-xs">
      <a target="_blank" href="http://ponencias.sirideas.com/IntroduccionAngularJs/">
        <div class="img-wrap">
          <img class="hidden-xs" src="images/qrcode.png" alt="código qr">
          <h4>Vínculo de proyecto</h4>
        </div>
      </a>
      <a target="_blank" href="https://github.com/axul/angularjs-introduccion/tree/master">
        <div class="img-wrap">
          <img class="hidden-xs" src="images/qrcodegithub.png" alt="código qr github">
          <h4>Vínculo de proyecto en GitHub</h4>
        </div>
      </a>
    </div>
    <div class="visible-xs col-xs-12 seccion">
      <div>
        <h4>Vínculo de proyecto <a href="http://ponencias.sirideas.com/IntroduccionAngularJs/">Introducción AngularJs</a></h4>
        <h4>Vínculo de proyecto en GitHub <a href="https://github.com/axul/angularjs-introduccion/tree/master">Introducción AngularJs</a></h4>
      </div>
    </div>
  </div>
</div>