<div class="grupo-clickable">
  <h1>Aspectos técnicos</h1>
  <div class="seccion">
    <h3 ng-click="activarSegmento(1)">
      <span class="glyphicon glyphicon-expand" ng-class="{'glyphicon-collapse-down': segmentoActivo==1}"></span>
      Data Binding
    </h3>
    <div class="animacion animacion-fade-in" ng-if="segmentoActivo==1" iframe-loader url="{{jsFiddles[0].url}}">
    </div>
  </div>
  <div class="seccion">
    <h3 ng-click="activarSegmento(2)">
      <span class="glyphicon glyphicon-expand" ng-class="{'glyphicon-collapse-down': segmentoActivo==2}"></span>
      Modulos
    </h3>
    <div class="descipcion animacion animacion-fade-in" ng-show="segmentoActivo==2"> 
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere aspernatur nostrum temporibus nemo, excepturi maxime suscipit ipsam tempore? Fugiat laboriosam libero dolorum rem eum laudantium vel, voluptatem sint quo laborum.
        </p>  
    </div>
  </div>
  <div class="seccion">
    <h3 ng-click="activarSegmento(3)">
      <span class="glyphicon glyphicon-expand" ng-class="{'glyphicon-collapse-down': segmentoActivo==3}"></span>
      Scopes
    </h3>
    <div class="animacion animacion-fade-in" ng-if="segmentoActivo==3" iframe-loader url="{{jsFiddles[0].url}}">
    </div>
  </div>
  <div class="seccion">
    <h3 ng-click="activarSegmento(4)">
      <span class="glyphicon glyphicon-expand" ng-class="{'glyphicon-collapse-down': segmentoActivo==4}"></span>
      Routing
    </h3>
    <div class="animacion animacion-fade-in" ng-if="segmentoActivo==4" iframe-loader url="{{jsFiddles[0].url}}">
    </div>
  </div>
  <div class="seccion">
    <h3 ng-click="activarSegmento(5)">
      <span class="glyphicon glyphicon-expand" ng-class="{'glyphicon-collapse-down': segmentoActivo==5}"></span>
      Directivas
    </h3>
    <div class="animacion animacion-fade-in" ng-if="segmentoActivo==5" iframe-loader url="{{jsFiddles[0].url}}">
    </div>
  </div>
  <div class="seccion">
    <h3 ng-click="activarSegmento(6)">
      <span class="glyphicon glyphicon-expand" ng-class="{'glyphicon-collapse-down': segmentoActivo==6}"></span>
      Servicios
    </h3>
    <div class="animacion animacion-fade-in" ng-if="segmentoActivo==6" iframe-loader url="{{jsFiddles[0].url}}">
    </div>
  </div>
  <div class="seccion">
    <h3 ng-click="activarSegmento(7)">
      <span class="glyphicon glyphicon-expand" ng-class="{'glyphicon-collapse-down': segmentoActivo==7}"></span>
      Filtros
    </h3>
    <div class="animacion animacion-fade-in" ng-if="segmentoActivo==7" iframe-loader url="{{jsFiddles[0].url}}">
    </div>
  </div>
  <div class="seccion">
    <h3 ng-click="activarSegmento(8)">
      <span class="glyphicon glyphicon-expand" ng-class="{'glyphicon-collapse-down': segmentoActivo==8}"></span>
      Eventos
    </h3>
    <div class="animacion animacion-fade-in" ng-if="segmentoActivo==8" iframe-loader url="{{jsFiddles[0].url}}">
    </div>
  </div>
</div>





