<div class="grupo-clickable">
  <h1>Aspectos técnicos</h1>
  <div class="seccion">
    <h3 ng-click="activarSegmento(1)">
      <span class="animacion glyphicon glyphicon-expand" ng-class="{'activo animacion-rotar-45': segmentoActivo==1}"></span>
      Data Binding
    </h3>
    <div class="" ng-show="segmentoActivo==1">
      <div class="descripcion" ng-show="segmentoActivo==1">
        <div class="row">
          <div class="col-sm-5 img-wrap">
            <img class="" src="images/data-binding.png" alt="data binding">
          </div>
          <div class="col-sm-7 full-height">
            <h3>
              Las plantillas de angular se compilan para producir vistas, luego cualquier cambio en ellas se reflejan en el modelo, y cualquier cambio en el modelo se propaga a la vista.
            </h3>
          </div>
        </div>
      </div>
      <div class="animacion animacion-fade-in" ng-if="segmentoActivo==1" iframe-loader url="{{jsFiddles[0].url}}">
      </div>  
    </div>
  </div>
  <div class="seccion">
    <h3 ng-click="activarSegmento(2)">
      <span class="animacion glyphicon glyphicon-expand" ng-class="{'activo animacion-rotar-45': segmentoActivo==2}"></span>
      Modulos
    </h3>
    <div class="" ng-show="segmentoActivo==2">
      <div class="descripcion animacion animacion-fade-in" ng-show="segmentoActivo==2">
        <h4>¿Qué es un módulo?</h4>  
        <p>
          Contenedores para diferentes partes de la aplicación (controladores, servicios, entre otros).
        </p>
        <pre>
          angular.module('IntroAngularjs.controllers', [])
            .controller('Home', ['$scope','$rootScope', function(<var>$scope</var>,<var>$rootScope</var>) {
              <var>$rootScope.seccionActual</var> = 'Inicio';
            }]);
        </pre>
        <p>
          AngularJs no tiene un método principal. Los módulos se encargan de especificar el arranque y la secuencia de una aplicación.
        </p>
        <p>
          Esto permite código fácilmente reusable y simple de entender.
        </p>
      </div>
    </div>
  </div>
  <div class="seccion">
    <h3 ng-click="activarSegmento(3)">
      <span class="animacion glyphicon glyphicon-expand" ng-class="{'activo animacion-rotar-45': segmentoActivo==3}"></span>
      Scopes
    </h3>
    <div class="" ng-show="segmentoActivo==3">
      <div class="descripcion">
        <h4>¿Qué es un scope?</h4>
        <p>
          Es el objeto que refiere al modelo de la aplicación. Provee de contexto para la ejecución de expresiones. Son organizados de forma jerárgica. Son el "pegamento" entre el controlador y la vista.
        </p>
        <p>
          Cuando AngularJs empieza a ejecutarse, compila el código de las plantillas HTML para generar las vistas y empieza a realizar los enlaces entre la aplicación y el <code>$rootscope</code>, que pasa a ser el padre de todos los objetos <code>$scope</code> que se instancien, siendo el objeto más cercano a el contexto global en una aplicación AngularJs.
        </p>
        <p>
          No es una buena práctica desarrollar demasiado código en el <code>$rootScope</code>, ya que puede llevar a colisiones, y se pierde el control del contexto en la aplicación
        </p>
        <ul>
          <li>Observan las modificaciones en el modelo (<code>$watch</code>)</li>
          <li>Propagan estos cambios hasta las vistas (<code>$apply</code>)</li>
          <li>Pueden anidarse como hijos o aislados para controlar el acceso a las propiedades de los componentes de las aplicaciones</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="seccion">
    <h3 ng-click="activarSegmento(4)">
      <span class="animacion glyphicon glyphicon-expand" ng-class="{'activo animacion-rotar-45': segmentoActivo==4}"></span>
      Routing
    </h3>
    <div class="" ng-show="segmentoActivo==4">
      <p>
        En desarrollo.
      </p>
    </div>
  </div>
  <div class="seccion">
    <h3 ng-click="activarSegmento(9)">
      <span class="animacion glyphicon glyphicon-expand" ng-class="{'activo animacion-rotar-45': segmentoActivo==9}"></span>
      Controladores
    </h3>
    <div class="" ng-show="segmentoActivo==9">
      <div class="descripcion">
        <h4>En AngularJs, los controladores son funciones constructoras de JavaScript que se utilizan para aumentar al Scope.</h4>
        <p>
          Cuando se instancian, se hace disponible un nuevo Scope hijo para injectarse como parametro en la función constructora del controlador (parámetro <code>$scope</code>).
        </p>
        <p>
          Los controles se usa para:
        </p>
        <ul>
          <li>Instanciar e inicializar el objeto <code>$scope</code> dentro de su contexto.</li>
          <li>Manejar el comportamiento del scope.</li>
        </ul>
        <p>
          Muchas veces se comete el error de utilizar los controladores para otro tipo de tareas. Desde un controlador no se debe: 
        </p>
        <ul>
          <li>Manejar el DOM. Para ello AngularJs provee del databinding y directivas.</li>
          <li>Manejar entradas de datos. Los controles de formularios de Angulajs están para esto.</li>
          <li>Hacer filtros para salidas. Los filtros hacen esta tarea.</li>
          <li>Compartir código entre controladores. Los servicios están para ello.</li>
          <li>Controlar el ciclo de vida de otros componentes.</li>
        </ul>
      </div>
      <div class="animacion animacion-fade-in" ng-if="segmentoActivo==9" iframe-loader url="{{jsFiddles[1].url}}">
      </div>
    </div>
  </div>
  <div class="seccion">
    <h3 ng-click="activarSegmento(5)">
      <span class="animacion glyphicon glyphicon-expand" ng-class="{'activo animacion-rotar-45': segmentoActivo==5}"></span>
      Directivas
    </h3>
    <div class="" ng-show="segmentoActivo==5">
      <div class="descripcion">
        <h4>¿Qué son las directivas?</h4>
        <p>
          Son marcadores en elementos del DOM Que le dicen al compilador HTML (<code>$compile</code>) de AngularJs que ese elemento en cuestión tendra asignado un comportamiento específico.
        </p>
        <p>
          AngularJs tiene un amplio set de directivas incluidas, como <code>ng-repeat</code> que son de extrema utilidad para cualquier desarrollador que se aventure con este framework, ademas de ofrecer la posibilidad de crear nuestras propias directivas a nuestro antojo.
        </p>
      </div>
      <div class="animacion animacion-fade-in" ng-if="segmentoActivo==5" iframe-loader url="{{jsFiddles[2].url}}">
      </div>
    </div>
  </div>
  <div class="seccion">
    <h3 ng-click="activarSegmento(6)">
      <span class="animacion glyphicon glyphicon-expand" ng-class="{'activo animacion-rotar-45': segmentoActivo==6}"></span>
      Servicios
    </h3>
    <div class="" ng-show="segmentoActivo==6">
      <p>
        En desarrollo.
      </p>
    </div>
  </div>
  <div class="seccion">
    <h3 ng-click="activarSegmento(7)">
      <span class="animacion glyphicon glyphicon-expand" ng-class="{'activo animacion-rotar-45': segmentoActivo==7}"></span>
      Filtros
    </h3>
    <div class="" ng-show="segmentoActivo==7">
      <p>
        En desarrollo.
      </p>
    </div>
  </div>
  <div class="seccion">
    <h3 ng-click="activarSegmento(8)">
      <span class="animacion glyphicon glyphicon-expand" ng-class="{'activo animacion-rotar-45': segmentoActivo==8}"></span>
      Eventos
    </h3>
    <div class="" ng-show="segmentoActivo==8">
      <p>
        En desarrollo.
      </p>
    </div>
  </div>
</div>





