<div class="grupo-clickable">
  <h1>Aspectos técnicos</h1>
  <div class="seccion">
    <h3 ng-click="activarSegmento(1)">
      <span class="animacion glyphicon glyphicon-expand" ng-class="{'activo animacion-rotar-45': segmentoActivo==1}"></span>
      Data Binding
    </h3>
    <div class="" ng-show="segmentoActivo==1">
      <div class="animacion animacion-fade-in" ng-if="segmentoActivo==1" iframe-loader url="{{jsFiddles[0].url}}">
      </div>  
    </div>
  </div>
  <div class="seccion">
    <h3 ng-click="activarSegmento(2)">
      <span class="animacion glyphicon glyphicon-expand" ng-class="{'activo animacion-rotar-45': segmentoActivo==2}"></span>
      Modulos
    </h3>
    <div class="" ng-show="segmentoActivo==2">
    <div class="descripcion animacion animacion-fade-in" ng-show="segmentoActivo==2">
        <p>
          
        </p>  
      </div>
    </div>
  </div>
  <div class="seccion">
    <h3 ng-click="activarSegmento(3)">
      <span class="animacion glyphicon glyphicon-expand" ng-class="{'activo animacion-rotar-45': segmentoActivo==3}"></span>
      Scopes
    </h3>
    <div class="" ng-show="segmentoActivo==3">
      <div class="animacion animacion-fade-in" ng-if="segmentoActivo==3" iframe-loader url="{{jsFiddles[0].url}}">
      </div>
    </div>
  </div>
  <div class="seccion">
    <h3 ng-click="activarSegmento(4)">
      <span class="animacion glyphicon glyphicon-expand" ng-class="{'activo animacion-rotar-45': segmentoActivo==4}"></span>
      Routing
    </h3>
    <div class="" ng-show="segmentoActivo==4">
      <div class="animacion animacion-fade-in" ng-if="segmentoActivo==4" iframe-loader url="{{jsFiddles[0].url}}">
      </div>
    </div>
  </div>
  <div class="seccion">
    <h3 ng-click="activarSegmento(5)">
      <span class="animacion glyphicon glyphicon-expand" ng-class="{'activo animacion-rotar-45': segmentoActivo==5}"></span>
      Directivas
    </h3>
    <div class="" ng-show="segmentoActivo==5">
      <div class="animacion animacion-fade-in" ng-if="segmentoActivo==5" iframe-loader url="{{jsFiddles[0].url}}">
      </div>
    </div>
  </div>
  <div class="seccion">
    <h3 ng-click="activarSegmento(6)">
      <span class="animacion glyphicon glyphicon-expand" ng-class="{'activo animacion-rotar-45': segmentoActivo==6}"></span>
      Servicios
    </h3>
    <div class="" ng-show="segmentoActivo==6">
      <div class="animacion animacion-fade-in" ng-if="segmentoActivo==6" iframe-loader url="{{jsFiddles[0].url}}">
      </div>
    </div>
  </div>
  <div class="seccion">
    <h3 ng-click="activarSegmento(7)">
      <span class="animacion glyphicon glyphicon-expand" ng-class="{'activo animacion-rotar-45': segmentoActivo==7}"></span>
      Filtros
    </h3>
    <div class="" ng-show="segmentoActivo==7">
      <div class="animacion animacion-fade-in" ng-if="segmentoActivo==7" iframe-loader url="{{jsFiddles[0].url}}">
      </div>
    </div>
  </div>
  <div class="seccion">
    <h3 ng-click="activarSegmento(8)">
      <span class="animacion glyphicon glyphicon-expand" ng-class="{'activo animacion-rotar-45': segmentoActivo==8}"></span>
      Eventos
    </h3>
    <div class="" ng-show="segmentoActivo==8">
      <div class="animacion animacion-fade-in" ng-if="segmentoActivo==8" iframe-loader url="{{jsFiddles[0].url}}">
      </div>
    </div>
  </div>
</div>





