<h2>Introducción</h2>
<div class="seccion">
  <h3>Antecedentes</h3>
  <div class="descripcion">
    <h4>HTML</h4>
    <p>
      HTML es un excelente medio para lograr llevar a cabo muchos proyectos actualmente; sin embargo, por sí solo, no proporciona todos los elementos necesarios para hacer una aplicación robusta y dinámica. La práctica común es acompañarlo de otras herramientas que permiten abrir un nuevo mundo de posibilidades.
    </p>
    <h4>El desarrollo en la actualidad</h4>
    <p>
      El desarrollo en la actualidad está centrado en la producción, rapidez y sencillez con que se pueden completar los proyectos; mientras al mismo tiempo se debe mantener un código limpio, ordenado, optimizado y de fácil mantenimiento.
    </p>
    <p>
      Gracias al el auge del internet y los dispositivos móviles, existen grandes cantidades de opciones como marcos de trabajo o extensiones, que se construyen a partir de estos elementos para hacer el trabajo de nosotros, los desarrolladores, más simple.
    </p>
    <p>
      Esta Inmensa cantidad de posibilidades a la hora de elegir una pila o grupo de herramientas para desarrollo, con todas las buenas consecuencias que trae, puede llegar a la vez, a traer algunas cosas negativas, especialmente a los nuevos desarrolladores que se ven inundados con opciones y dependencias a múltiples librerías para crear un proyecto.
    </p>
  </div>
</div>
<div class="seccion">
  <h3>¿Qué es Angularjs?</h3>
  <div class="descripcion">
    <p>
      Un marco de desarrollo para aplicaciones web dinámicas de una página. Permite utilizar HTML como plantillas y extender su sintaxis. El data binding y la injección de dependencias permiten ahorrar mucho código a los desarrolladores.
    </p>
    <p>
      AngularJs es tecnología de Frontend o del lado del cliente desarrollado completamente en JavaScript, que permite desarrollar aplicaciones web de forma más rápida y fácil. Cuenta con un buen nivel de abstracción para construir aplicaciones interactivas y modernas.
    </p>
  </div>
</div>
<div class="seccion">
  <h3>¿Qué lo diferencia?</h3>
  <div class="descripcion">
    <p>
      Las herramientas conocidas hasta ahora se han centrado en proporcionar métodos para manipular el DOM haciendo todo con tareas lógicas desde scripts de JS. AngularJS se centra en hacer más del HTML, dándole más vocabulario, separando la lógica de negocio a la lógica de presentación de una manera que se genera código muy fácil de leer y rápido de desarrollar.
    </p>
  </div>
</div>
<div class="seccion">
  <h3>Ventajas</h3>
  <div class="descripcion">
    <ul>
      <li>Data Binding en ambas direcciones.</li>
    </ul>
  </div>
</div>
<div class="seccion">
  <h3>Desventajas</h3>
  <div>
    <ul>
      <li>La alta abstracción cuesta flexibilidad.</li>
      <li>Los motores de búsqueda aún no se encuentran optimizados para aplicaciones de una sola página, ocasionando problemas para el SEO si se utiliza AngularJS como módulo principal en una página web comercial que necesita un buen posicionamiento.</li>
    </ul>
  </div>
</div>




